<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div>
    <form id="loginForm" action="/account/login" method="post">
        <fieldset>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <div>
            <i>Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</i>
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
    <div>
        <p>No account? <a href="/account/register">Sign-up</a></p>
    </div>
</fieldset>
</div>